header {
  position: relative;
  padding: 50px 0px;
  width: 1152px;
  margin: auto;
}

.image {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

#profile_img{
  width: 50px;
}
#slack{
  text-align: center;
  
}

header .share {
  position: absolute;
  right: 0px;
  top: 30px;
}

.links-container {
  padding-bottom: 20px;
}

.links-container a {
  color: #101828;
  font-weight: 500;
  font-size: 18px;
  display: block;
  text-decoration: none;
  background-color: #eaecf0;
  width: 1152px;
  height: 76px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}


@media screen and (max-width: 1200px) {
  .links-container a,
  header,
  footer {
    width: 900px;
  }
}









footer {
  padding: 100px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1152px;
  margin: auto;
  transition: 0.5s ease-in-out;
}


header {
  padding: 50px 0px 10px;
}








